.foot{
background-color: rgba(27, 26, 26, 0.829);
display: grid;
grid-template-columns: 75px 1fr 1fr;
width: 100vw;

}

    .gre{

        background-color: rgba(62, 253, 45, 0.829);
       
        width:100vw;
        height: 250px;
      
       padding-top: 30px;
       
    }
    .gra{

        background-color: rgba(219, 219, 195, 0.829);
      
        width:100vw;
        height: 150px;
      
    }
    .hed{
        background-color:green;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        width: 100vw;
        margin-left:-10px;
        grid-column-gap: 10px;
        top:0px;
        position: fixed;
        
        }
        .sida{

height: 100vh;
width: 50px;
position: fixed;
display: inline-block;
background-color: blue;
margin-left: -10px;
margin-top: 10px;

        }
        .hed:hover{

          
        background-color: beige;

        }
        button:hover{
            background-color: rgb(172, 84, 26);
            cursor: pointer;



        }
        button{
            border: none;
            
        }