.foot{
background-color: rgba(27, 26, 26, 0.829);
display: grid;
grid-template-columns: 75px 1fr 1fr;
width: flex;

}

    .gre{

        background-color: rgba(62, 253, 45, 0.829);
       flex: 1;
        width:flex;
        height: 250px;
      
       padding-top: 30px;
       
    }
    .gra{

        background-color:transparent;
      
      
        height: 150px;
     
    }
    .hed{
        background-color:cornsilk;
    display: flex;
    align-items: center;
        height: 30px;
       justify-content: space-evenly;
    width: 100%;
        top:0px;
        left:0px;
       
        
        }
        .sida{

height: 300px;

position: fixed;
background-color: transparent;

left:0px;
flex-direction: column;
        }
        
    
        button{
            border: none;

        }
        .leftsect{
         flex:1;
            background-color: black;
           
           
        }

        .midsect{
            background-color: rgb(31, 151, 121);
           
           flex:1;
            
        }
        .midsect:hover{
            background-color: rgb(184, 226, 32);
           
        cursor: pointer;

          
        }

        .ritsect{
            background-color: rgb(136, 51, 51);
         
          flex:1;
            
        }
        .but1:hover{
           
            background-color: rgb(172, 84, 26);
            cursor: pointer;


        }
        .but2:hover{
           
            background-color: rgb(172, 84, 26);
            cursor: pointer;
        
        }
        .but3:hover{
           
            background-color: rgb(172, 84, 26);
            cursor: pointer;
            font-size: 11pt;
       border-bottom-right-radius: 30px;
       
        }
        .but1{
            background-color: transparent;


        }
        .but2{
            background-color: transparent;
        }
        .but3{
            background-color: transparent;
      
        }
        body{
            
        margin: 0px;
         

        }

.bad{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
        
        